<% if patient.hdsr_scales.present? %>
  <div class="defined-scale-item row">
    <div class="col-sm-4 define-scale-content">
      <%= link_to "HDS-R", patient_hdsr_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
    </div>
    <p class="hdsr-total-score total-score col-sm-3">合計　<%= patient.hdsr_scales.last.decorate.total_score %>点</p>
    <% if patient.hdsr_scales.last.decorate.undefined_count > 0 %>
      <p class="hdsr-undefined-columns-count undefined-columns-count col-sm-4">*<%= patient.hdsr_scales.last.decorate.undefined_count %>項目が未入力です。</p>
    <% end %>
  </div>
<% end %>
