<% if patient.bathyesthesia_scales.present? %>
  <div class="defined-scale-item row">
    <div class="col-sm-4 define-scale-content">
      <%= link_to "深部感覚検査", patient_bathyesthesia_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
    </div>
    <p class="bathyesthesia-limit score-part col-sm-3">
      <% if patient.bathyesthesia_scales.last.decorate.limit_part.empty? %>
        機能低下: なし
      <% else %>
        <%= link_to "機能低下: #{patient.bathyesthesia_scales.last.decorate.limit_part.size}箇所", "#", class:"bathyesthesia-limit-part-count", data: {toggle: "modal", target: "#bathyesthesia-limit-part" } %>
        <%= render "patients/modal/bathyesthesia_limit_part_modal", patient: patient %>
      <% end %>
    </p>
  </div>
<% end %>
