@import '~bootstrap/scss/bootstrap';
@import 'reset';

// header
header {
  .navbar{
    background-color: rgb(30, 120, 190);
    color: white;
    height: 57px;
    .container{
      display: block;
    }
    .navbar-nav{
      float: right;
    }
    .nav-link{
        color: white;
    }
  }
}
.page-title{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  text-align:center;
  line-height:57px;
  font-size:1.5em;
  font-weight:bold;
  color: #darkblue;
}

@media screen and (max-width: 768px) {
  .page-title{
    font-size: 15px;
    word-wrap: break-word;
    height: 57px;
  }
  .navbar-nav{
    width: 80px;
    margin-right: 10px;
  }
  .nav-link{
    font-size: 10px;
  }
  .dropdown-menu{
    font-size: 10px;
  }
}
